<h1>{{title}}</h1>
<h2>{{contador}}</h2>
<button (click)="aumentar()">Aumentar</button>
<button (click)="reducir()">Reducir</button>
<button (click)="multiplicar()">Multiplicar</button>
<button (click)="dividir()">Dividir</button>
<button (click)="reset()">Resetear</button>
<br>
<br>
<br>
<span>¿es mayor a 10? {{contador > 10}}</span>
<br>
<samp>¿es menor que 20? {{contador < 20 }}</samp>
<br>
<span>¿mayor o igual a 5? {{contador >= 5 }}</span>
<br>
<span>¿menor o igual a 4? {{contador <= 4}}</span>
<br>
<samp>¿es igual a 6? {{contador === 6 }}</samp>
<br>
<span>¿es diferente de 3? {{contador !== 3 }}</span>
<br>
<span>¿es par? {{esPar(contador)  }}</span>
<br>
<span>¿es impar y es igual a 5? {{!esPar(contador) && (contador === 5)}}</span>
<br>
<span>¿es impar o es igual a 3? {{!esPar(contador) || (contador === 3)}}</span>
<br>
<h3>fahrenheit: {{contador * 9/5 + 32}}</h3>
<br>
<span>{{estudiantes}}</span>
<br>
<span>{{estudiantes[1]}}</span>
<br>
<span>{{estudiantes.length}}</span>
<br>
<span>{{estudiantes[estudiantes.length - 1]}}</span>
<br>
<span>{{estudiantes.sort()}}</span>
<br>
<br>
<br>
<br>
<br>
<h2>{{animales[2].nombre}}</h2>
<h2>{{animales[2].habitad}}</h2>
<ul>
    <li>
        {{animales[5].nombre}}

    </li>
    <li>
        {{animales[6].nombre}}

    </li>
    <li>
        {{animales[7].nombre}}

    </li>
</ul>
<ul>
    <li *ngFor="let animal of animales">
        {{animal.nombre}}

    </li>
</ul>
<br>
<br>
<div *ngFor="let animal of animales" class="tarjeta">
    <img class="imagen"[src]="animal.imagen">
    <div class="datos">
        <span class="nombre"> {{animal.nombre}}</span>
        <h2>peso: {{animal.peso_promedio}}</h2>
        <h2>numero de patas: {{animal.numero_de_patas}}</h2>
        <h2>color predominante: {{animal.color_predominante}}</h2>
        <h2>alimentacion: {{animal.alimentacion}}</h2>
        <h2>habitad: {{animal.habitad}}</h2>
        <h2>volador: {{animal.volador}}</h2>

    </div>

</div>
